<!DOCTYPE html>
<html>
    <head>
        <title>Digital Notebook</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Digital Notebook</a></h1>
        </header>

        <article>
            <time>published date</time>
            <h2><a href="">Post 1</a></h2>
            <p>Post message.</p>
        </article>

        <article>
            <time>published date</time>
            <h2><a href="">Post 2</a></h2>
            <p>Post message.</p>
        </article>
    </body>
</html>